* {
  margin: 40px;
  padding: 0;
  align-content: center;
}
.container {
  margin: 0;
  padding: 50px;
}
.top .screen {
  height: 40px;
  width: 212px;

  float: right;

  padding: 0 10px;

  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  box-shadow: inset 0px 4px rgba(0, 0, 0, 0.2);

  /* Typography */
  font-size: 17px;
  line-height: 40px;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  text-align: right;
  letter-spacing: 1px;
}
.line {
  width: 80px;
  height: 38px;
  background-color: #3b5998;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#rightCircle,
#leftCircle {
  width: 40px;
  height: 42px;
  border-radius: 50%;
  background-color: white;
  padding: 5px;
  transition: 0.2s linear;
  cursor: pointer;
}
#rightCircle {
  opacity: 0;
}
.options {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.greyf {
  color: grey;
  text-align-last: right;
  font-family: 'Roboto', sans-serif;

}

#display-box {
  padding: 5px;
  width: 1110px;
  margin-top: 5px;
  margin-bottom: 30px;
  height: 60px;
  font: 35px bold;
  background: #e6e5df;
  border-radius: 999px;
  // box-shadow: #a8a89e 0 2px 2px 0px;
  box-sizing: border-box;
  text-align: right;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;

}
.detail {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font: 24px;
  color:black;
}
.button-34 {
  background: #ffff66;
  border-radius: 999px;
  box-shadow: #ffff00 0 2px 2px 0px;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  font-family:'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

/* CSS */
.button-81 {
  background-color: 	#F5F5F5;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: grey;
  cursor: pointer;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-81:hover {
  background-color: #ffff00;
  color: black;
}

@media (min-width: 768px) {
  .button-81 {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}

.toggle {
  transition: all 0.5s;
  background-color: #ffff00;
  width: 60px;
  height: 30px;
  border-radius: 20px;
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  flex-direction: column-reverse;
  align-content: stretch;
  flex-wrap: wrap;
  margin-left:1100px
}
}

.toggle::before {
  content: '';
  transition: all 0.5s;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: 	#F5F5F5;
  top: 0%;
  left: 0%;
}

.toggle::after {
  transition: all 0.5s;
  content: '';
  position: absolute;
  left: 11%;
  height: 15px;
  width: 15px;
  border: solid 5px white;
  border-radius: 100%;
}

.toggle:hover {
  cursor: pointer;
}

.toggle.active {
  transition: all 0.5s;
  background-color: #ffff66;
}

.toggle.active::before {
  transition: all 0.5s;
  background-color: #ffff00;
  left: 50%;
}

.toggle.active::after {
  transition: all 0.5s;
  background-color: #ffff00;
  left: 73%;
  width: 0.1px;
  border-radius: 0px;
}

p {
  color: white;
}
